body {
    width: 100vw;
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
    overflow: hidden;
}

header {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 75vw;
    margin: auto;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.7);
}

div#calcular{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#calcular {
    font-weight: bold;
    color: black;
    background-color: gray;
    width: 9em;
    height: 2em;
    border-radius: 30em;
    font-size: 1em;
    font-family: inherit;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.7);
    margin-bottom: 2.5vh;
}

#calcular:hover{
    color: white;
}

#calcular::before{
    content: '';
    width: 0;
    height: 2em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, white 0%, black 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

#calcular:hover::before {
    width: 9em;
}

div#titres {
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 2.5vh;
}

div#resultado{
    line-height: 1.5em;
}

div#reiniciar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 15vh;
}

#reiniciar {
    font-weight: bold;
    color: #000000;
    background-color: #ff4c4c;
    width: 9em;
    height: 2em;
    border-radius: 30em;
    font-size: 1em;
    font-family: inherit;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.7);
}

#reiniciar:hover {
    color: white;
}

#reiniciar::before {
    content: '';
    width: 0;
    height: 2em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #ff0000 0%, #5a0000d3 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

#reiniciar:hover::before {
    width: 9em;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
}